@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-anton: var(--font-anton);
  --font-inter: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
}
